@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.text-js {
  opacity: 0;
}

.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: #000000;
  z-index: 1;
  -webkit-animation: flash 0.5s none infinite alternate;
          animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  boz-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#home {

 background-image: url("../css/bg.jpg");

 background-size:120%;
  height: 100vh;
  bottom:50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headline {
  margin: 20px;
  color: white;
  font-size: 32px;
  text-align: center;
  color: #000000;
}
.headline h1 {
  letter-spacing: 1.6px;
  font-weight: 300;
  color:#000000;
}

