<div class="supporter-img gdg-screen">
	<img class="image-cropper" src="images/organizers/photo.jpg" alt="organizer">
	<h4>$name</h4>
	<h6>$designation</h6>
	<div class="social-links">
		<img class="social-image-cropper" src="images/organizers/photo.jpg" alt="Facebook">
		<img class="social-image-cropper" src="images/organizers/photo.jpg" alt="Google+">
		<img class="social-image-cropper" src="images/organizers/photo.jpg" alt="LinkedIn">
		<img class="social-image-cropper" src="images/organizers/photo.jpg" alt="Twitter">
	</div>
</div>